# Loops

In [1]:
print ('Data science')

Data science

In [3]:
print ('Data science')
print ('Data science')
print ('Data science')
print ('Data science')
print ('Data science')

Data science
Data science
Data science
Data science
Data science

In [4]:
i = 1 
while i<=5:
    print('Data science')
    i=i+1

Data science
Data science
Data science
Data science
Data science

In [7]:
i = 1                           #initialization of variable 
while i<=5:                     #codition
    print('Data science:', i )
    i = i+1                     #incremental

Data science: 1
Data science: 2
Data science: 3
Data science: 4
Data science: 5

In [9]:
i = 5 
while i>=1:
    print('Data science:', i)
    i = i-1                   # decremental

Data science: 5
Data science: 4
Data science: 3
Data science: 2
Data science: 1

In [11]:
i = 1
while i<=5:
    print('Data science:',i)
    j = 1
    while j<=5:
        print('Technology:',j)
        j=j+1
    i= i+1

Data science: 1
Technology: 1
Technology: 2
Technology: 3
Technology: 4
Technology: 5
Data science: 2
Technology: 1
Technology: 2
Technology: 3
Technology: 4
Technology: 5
Data science: 3
Technology: 1
Technology: 2
Technology: 3
Technology: 4
Technology: 5
Data science: 4
Technology: 1
Technology: 2
Technology: 3
Technology: 4
Technology: 5
Data science: 5
Technology: 1
Technology: 2
Technology: 3
Technology: 4
Technology: 5

In [13]:
i = 1
while i<=5:
    print(' Data science:',i)
    j = 1
    while j<=5:
        print('Technology:',j , end = "") #end stops forming new line
        j=j+1
    i= i+1

 Data science: 1
Technology: 1Technology: 2Technology: 3Technology: 4Technology: 5 Data science: 2
Technology: 1Technology: 2Technology: 3Technology: 4Technology: 5 Data science: 3
Technology: 1Technology: 2Technology: 3Technology: 4Technology: 5 Data science: 4
Technology: 1Technology: 2Technology: 3Technology: 4Technology: 5 Data science: 5
Technology: 1Technology: 2Technology: 3Technology: 4Technology: 5

In [15]:
i = 1
while i<=5:
    print(' Data science:',i)
    j = 5
    while j>=1:
        print('Technology:',j )
        j=j-1                     # decremental
    i= i+1

 Data science: 1
Technology: 5
Technology: 4
Technology: 3
Technology: 2
Technology: 1
 Data science: 2
Technology: 5
Technology: 4
Technology: 3
Technology: 2
Technology: 1
 Data science: 3
Technology: 5
Technology: 4
Technology: 3
Technology: 2
Technology: 1
 Data science: 4
Technology: 5
Technology: 4
Technology: 3
Technology: 2
Technology: 1
 Data science: 5
Technology: 5
Technology: 4
Technology: 3
Technology: 2
Technology: 1

### Loops with number

In [18]:
i = 1
while i <=4:
    j =0
    while j<=3:
        print(i*j,end='')
        j+=1
    print()
    i+=1

0123
0246
0369
04812

In [21]:
# film of for loops
name = 'nit'
for i in name:
    print(i)

n
i
t

In [23]:
name1=[1,3.5,'hallo']
for i in name1:
    print(i)

1
3.5
hallo

In [25]:
for i in [2,3,7.8,'hi']:
    print(i)

2
3
7.8
hi

In [27]:
for i in range(1,10,3):
    print(i)

1
4
7

In [29]:
for i in range (1,51):
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [31]:
for i in range (1,51):
    if i%5!=0:              # != is not equal to and == is equal to
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [33]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [35]:
# break key use 
for i in range (1,11):
    if i==5 :          # stops the range from 5 onwards
       break
    print(i)

1
2
3
4

In [37]:
# break key use 
for i in range (1,11):
    if i==5 :          
       break
    print(i)
print(i)

1
2
3
4
5

In [39]:
for i in range (1,11):
    if i == 7:
        break
        print(i)

In [41]:
for i in range (1,11):
    if i ==6:
        continue
    print(i)       # it skips i

1
2
3
4
5
7
8
9
10

In [43]:
for i in range (1,11):
    if i ==5:
        continue
    print('hello',i)

hello 1
hello 2
hello 3
hello 4
hello 6
hello 7
hello 8
hello 9
hello 10

In [45]:
for i in range (1,11)

SyntaxError: expected ':' (2464665743.py, line 1)

In [47]:
# if we need to keep the error but to avoid showing  error PAAS is used 
for i in range(1,51):
    pass

In [49]:
for i in range (1,51):
    if i%3==0:
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [51]:
for i in range (1,50):
    if i%3==0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
end

In [53]:
for i in range (1,51):
    if i%3==0 or i%5==0:        # continue skips the i condition
        continue
    print(i)
print('end')

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
end

In [55]:
for i in range(1,51):
    if i%3 ==0 and i % 5 == 0:
        continue
    print(i)
print('end')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49
50
end

In [57]:
for i in range (1,50):
    if i%2 ==0:
        pass
    else:
        print(i)
print('bye')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
bye

In [59]:
print('# # # #')
print('# # # #')
print('# # # #')
print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [61]:
for i in range (4):
    print('*',end="    ")

*    *    *    *

In [63]:
for i in range (4):
    print('*',end="    ")
print()
for i in range (4):
    print('*',end="    ")

*    *    *    *
*    *    *    *

In [65]:
for j in range (4):
    print('#',end="  ")

#  #  #  #

In [67]:
for j in range (4):
    print('#',end="  ")
print()

#  #  #  #

In [69]:
for j in range (4):
    print('#',end="  ")
print()
for j in range (4):
    print('#',end="  ")
print()
for j in range (4):
    print('#',end="  ")
print()
for j in range (4):
    print('#',end="  ")
print()

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [71]:
for i in range (4):
    for j in range (4):
        print('*',end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [73]:
for i in range (4):
    for j in range (4):
        print('*')
    print()

*
*
*
*

*
*
*
*

*
*
*
*

*
*
*
*

In [75]:
for i in range (4):
    for j in range (4):
        for k in range (4):
            print('*', end=" ")
        print()

* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *

In [77]:
for i in range (4):
    for j in range (4):
        for k in range (4):
            print('*', end=" ")
    print()

* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *

In [79]:
for i in range (4):
    for j in range (4):
        for k in range (4):
            print('*', end=" ")
print()

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [81]:
for i in range (4):
    for j in range (4):
        for k in range (4):
            print('*', end=" ")
            print()

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [ ]:
# some slight error in loops leads infinite loop

In [ ]:
# computer to loops error ::'pura pariwar dara hua hai yaar ,'